services:
  nginx-proxy:
    build: nginx
    restart: always
    volumes:
      - ./nginx/default.conf:/tmp/default.conf
    environment:
      - FLASK_SERVER_ADDR=backend:5000
    ports:
      - "443:443"
    depends_on:
      - backend
    command: /app/start.sh
  backend:
    build: backend
    restart: always
    ports:
      - '5000:5000'
    env_file:
      - .env
    command: gunicorn -w 4 -b 0.0.0.0:5000 main:app