body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap between dropdowns */
    margin-bottom: 20px;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

/* Center the record button */
#recordButton {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-user-select: none; /* Disable text selection on iOS */
    -webkit-touch-callout: none; /* Disable callout (context menu) on iOS */
    margin: 20px 0; /* Space between dropdowns and button */
}

#recordButton:hover {
    background-color: #3700b3;
}

#audioPlayback {
    display: none;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

#transcription {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

#errorMessage {
    border: none;
    padding: 20px 40px;
    font-size: 18px;
}

/* Ensure everything is centered */
.container {
    position: relative; /* Allow absolute positioning of children */
    height: 100%; /* Full height for centering */
}

#title {
    margin-top: 200px;
    font-size: 32px; /* Adjust size as needed */
    margin-bottom: 32px; /* Space below the heading */
    color: #ffffff; /* Heading color */
}
