<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Babel Buddy</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="icon" href="../static/images/android-chrome-512x512.png" type="image/png">
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Babel Buddy" />
    <meta property="og:description" content="An interactive tool for real time language translation." />
    <meta property="og:image" content="https://babelbuddy.com.au/static/images/babel_fish.png" />
    <meta property="og:url" content="https://babelbuddy.com.au" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Babel Buddy" />
    <meta name="twitter:description" content="An interactive tool for real time language translation." />
    <meta name="twitter:image" content="https://babelbuddy.com.au/static/images/babel_fish.png" />
</head>
<body>
<div class="container">
    <h1 id="title">Babel Buddy</h1>
    <div class="dropdown-container">
        <div>
            <select id="inputLanguage" class="dropdown">
                <option value="en-US">English</option>
            </select>
        </div>
        <div>
            <select id="outputLanguage" class="dropdown">
                <option value="yue">Chinese</option>
                <option value="th">Thai</option>
                <option value="fr">French</option>
                <option value="ja">Japanese</option>
                <option value="es">Spanish</option>
                <option value="ru">Russian</option>
                <option value="zu">Zulu</option>
                <option value="en">English</option>
            </select>
        </div>
    </div>
    <button id="recordButton">Translate</button>
    <div id="errorMessage" style="color: red; display: none;"></div>
    <audio id="audioPlayback" controls style="display:none;"></audio>
    <div id="transcription" style="display:none;"></div>
</div>
<script>
    const recordButton = document.getElementById('recordButton');
    const audioPlayback = document.getElementById('audioPlayback');
    const transcriptionDiv = document.getElementById('transcription');
    const inputLanguage = document.getElementById('inputLanguage');
    const outputLanguage = document.getElementById('outputLanguage');
    const errorMessageDiv = document.getElementById('errorMessage');
    const languageButtonText = {
        "en-US": "Translate", // English
        "yue": "翻译", // Chinese
        "th": "แปล", // Thai
        "fr": "Traduire", // French
        "ja": "翻訳する", // Japanese
        "es": "Traducir", // Spanish
        "ru": "Перевести", // Russian
        "zu": "Humusha", // Zulu
    };
    let mediaRecorder;
    let audioChunks = [];

    const updateButtonText = () => {
        const selectedLanguage = inputLanguage.value;
        recordButton.textContent = languageButtonText[selectedLanguage || "Translate"];
    }
    // Update button text on language change
    inputLanguage.addEventListener('change', updateButtonText);

    const hideUIItems = async () => {
        errorMessageDiv.style.display = 'none'; // Hide error message initially
        transcriptionDiv.style.display = 'none'
        audioPlayback.style.display = 'none'
    };

    const startRecording = async () => {
        recordButton.style.backgroundColor = 'red';
        try {
            const stream = await navigator.mediaDevices.getUserMedia({audio: true});
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = async () => {
                const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});
                audioChunks = [];
                console.log('Audio Blob size before sending:', audioBlob.size);
                const formData = new FormData();
                formData.append('audio', audioBlob, 'audio.wav');
                formData.append('input_language', inputLanguage.value);
                formData.append('output_language', outputLanguage.value);
                // Clear any previous error message
                hideUIItems()
                if (audioBlob.size === 0) {
                    errorMessageDiv.textContent = 'No data was recorded. Please try again.'; // Set error message
                    errorMessageDiv.style.display = 'block'; // Show error message
                    return; // Exit the function early
                }


                const response = await fetch('/process_audio', {
                    method: 'POST',
                    body: formData,
                });


                if (response.ok) {
                    const data = await response.json();

                    // Ensure audio data is handled as Blob
                    if (data.synthesized_audio) {
                        // Convert string to Uint8Array
                        const audioArray = new Uint8Array(data.synthesized_audio.length);
                        for (let i = 0; i < data.synthesized_audio.length; i++) {
                            audioArray[i] = data.synthesized_audio.charCodeAt(i) & 0xff;
                        }

                        const audioBlob = new Blob([audioArray], {type: 'audio/wav'});
                        const audioUrl = URL.createObjectURL(audioBlob);
                        audioPlayback.src = audioUrl;
                        audioPlayback.style.display = 'block'; // Show audio element

                        audioPlayback.onloadedmetadata = () => {
                            audioPlayback.play();
                        };

                        console.log('Audio Blob size:', audioBlob.size);
                    } else {
                        console.error('No audio data returned from the server.');
                    }

                    transcriptionDiv.textContent = data.transcription || 'Transcription unavailable.';
                    transcriptionDiv.style.display = 'block';
                } else {
                    const result = await response.json();
                    console.log(result);

                    if (result.error) {
                        errorMessageDiv.textContent = result.error; // Set only the error message
                    } else {
                        errorMessageDiv.textContent = 'An unknown error occurred.'; // Fallback message
                    }

                    errorMessageDiv.style.display = 'block'; // Show error message
                    console.error('Error processing audio:', result);
                }
            };

            mediaRecorder.start();
        } catch (error) {
            console.error('Error during recording setup:', error);
        }
    };

    const stopRecording = () => {
        recordButton.style.backgroundColor = '#6200ea';
        if (mediaRecorder) {
            mediaRecorder.stop();
            mediaRecorder.stream.getTracks().forEach(track => track.stop()); // Stop all audio tracks
        }
    };

    // Add event listeners for both mouse and touch events
    recordButton.addEventListener('mousedown', startRecording);
    recordButton.addEventListener('mouseup', stopRecording);
    recordButton.addEventListener('touchstart', startRecording);
    recordButton.addEventListener('touchend', stopRecording);

    // Prevent default context menu and text selection
    recordButton.addEventListener('contextmenu', (event) => {
        event.preventDefault();
    });
    updateButtonText();
</script>
</body>
</html>
